.points {
  @apply gap-2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;

  button {
    margin: 0;
  }
}

.submissions {
  @apply gap-1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  align-items: center;

  .player img {
    max-width: 200px;
    border-radius: 20px;
  }
}
