.points {
  @apply gap-2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;

  button {
    margin: 0;
  }
}

.submissions {

  .player img {
    max-width: 90px;
    border-radius: 20px;
    transition: all 200ms ease ;
    &:hover{
      transform: scale(1.5)
    }
  }
}
